streamlit==1.25.0
langchain==0.0.305
transformers==4.34.0
sentence-transformers==2.2.2
rank-bm25==0.2.2
openai==0.27.10
keybert==0.8.1
nltk==3.8.1
spacy==3.6.0
scikit-learn==1.2.2
PyMuPDF==1.23.7
language-tool-python==2.7.1
thinc==8.1.10
torch==2.0.1
Cython==0.29.36
numpy==1.24.3
pandas==2.0.0   # Ensure compatibility with numpy
